* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: #040127;
  }
  
  img {
    width: 100%;
  }
  
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  
  .card {
    width: 300px;
    background: #1c1b40;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 0 20px #00000070;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 5rem auto;
    margin-top: 50%;
    transition: transform 0.3s;
    
    
  }
  
  .card:hover {
    transform: translateY(-0.5rem) scale(1.03);
  }
  
  .top-section {
    position: relative;
  }
  
  .name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 40px;
    color: #fff;
    line-height: 1;
   
  }
  
  .name span {
    
    padding: 0 5px;
  }
  
  .name span:last-of-type {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .info-section {
    padding: 0 40px 40px;
    color: #fff;
    opacity: 0.8;
  }
  
  h2 {
    
  }
  h1{
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2%; 
    font-family: 'Exo 2', sans-serif;
    color: white;
  }
  
  
  p {
    text-align: justify;
    padding: 0.5%;
  }
  
  .social {
    display:flex;
    
    justify-content: space-evenly;
  }
  
  .social a {
    font-size: 25px;
    color: gray;
    transition: all 0.4s;
  }

  .social a:visited{
    font-size: 25px;
    color: gray;
    transition: all 0.4s;
  }
  
  .social a:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
  }
  ul {
    list-style-type: none;
    margin-top: -2%;
    height: 4%;
    width: 100%;
    background-color: #040127;
    font-family: 'Abel', sans-serif;
    
  }
  
  li {
    float: left;
    padding: 1%;
   
  }
  
  li a:hover {
    background-color: rgb(136, 133, 133);
    opacity: 0.5;
    box-shadow: 7px 12px 2px 1px rgba(0, 255, 255, .2);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
  } 
  @import url('https://fonts.googleapis.com/css?family=Work+Sans');

  h1 {
    font-size: 3.5vw;
    position: relative;
    width: max-content; 
    font-weight: normal;
  }
  
  
  
 
  
  .footer {
  
    margin-top: 0%;
    width: 100%;
    background-color:#040127;;
    color: white;
    text-align: center;
    height: 10%;
    padding-bottom: 0.5%;
  
  }
  .footer h2{
    font-size: 1vw;
    font-family: 'Exo', sans-serif;
    color: white;
  padding-top: 2%;
  }
    .footer p{
      font-size: 0.6vw;
      font-family: 'Exo', sans-serif;
      color: white;
      text-align: center;
    }