body { 
  background-color: #1B1A38;
  min-height: 1000px;
  overflow-x: hidden;
}
.center {
    display: block;
    margin-left: 45%;
    margin-right: auto;
   
    
  }
  .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}



li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  height: 7%;
  width: 100%;
  background-color: #1B1A38;
  font-family: 'Abel', sans-serif;
}

li {
  float: left;
  padding: 1%;
 
}


#myvideo{
  width: 50%;
  height: auto;
  margin-left: -2%;
}
li a:hover {
  background-color: rgb(136, 133, 133);
  opacity: 0.5;
}


    .grad{
      display: block;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      z-index: 1;
      height: 20%;
      border: 5px solid #ffffff00;
  }
  
  
body {
  
  -webkit-transform: perspective(400px);
  -webkit-transform-style: preserve-3d;
} 


.card1 {
  text-align:center;
  position: flex;
  width: 250px;
  height: 350px;
  margin-bottom: 10px;
  background: #040127;
  transition:.6s;
  
  border-radius: 25px;
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}

.card1 img{
  
  width:200px;
  height:120px;
}
h3{
  font-size:25px;
  font-family: 'Abel', sans-serif;
  color:rgb(255, 255, 255);
  
  
}
p{
  color:rgb(255, 255, 255);
  font-family: 'Abel', sans-serif;
}



.card2 {
  text-align:center;
  position: flex;
  
  width: 250px;
  height: 350px;
  
  margin-bottom: 10px;
  background: #040127;
  
  transition:.6s;
  border-radius: 25px;
  
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card2 img{
 
  width:180px;
  height:150px;
}
.card3 {
  text-align:center;
  position: flex;
  
  width: 250px;
  height: 350px;
 
  margin-bottom: 10px;
  background: #040127;
  transition:.6s;
  border-radius: 25px;
 
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card3 img{
  
  width:200px;
  height:120px;
}
.footer {
  
  
  width: 100%;
  background-color:#040127;;
  color: white;
  text-align: center;
  height: 10%;

}
.footer h2{
  font-size:18px;
  font-family: 'Exo', sans-serif;
  padding: 2%;
}
.strip1 h1{
color: white;
font-size:40px;
  font-family: 'Exo', sans-serif;
  padding: 10%;
  padding-bottom: 3%;
  padding-top: 5%;
}
.strip1{
  background-color: #1B1A38;
  height: 20%;
  margin-top: -3%;
  
}
.strip1 p{
  font-size:20px;
  font-family: 'Exo', sans-serif;
  width: 30%;
  padding: 10%;
  padding-top: 2%;
}
.strip1 img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.image{
  position: fixed;
  bottom: 75%;
}
.strip2 h1{
  color: white;
  font-size:40px;
    font-family: 'Exo', sans-serif;
    padding: 10%;
    padding-bottom: 3%;
    padding-top: 5%;
    text-align: right;
  }
  .strip2{
    background-color: #040127;
    height: 20%;
    margin-top: -3%;
    
  }
  .strip2 p{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    width: 30%;
    padding: 10%;
    padding-top: 0%;
    margin-left: 58%;
  }
  
  .strip3 h1{
    color: white;
    font-size:40px;
      font-family: 'Exo', sans-serif;
      padding: 10%;
      padding-bottom: 3%;
      padding-top: 5%;
    }
    .strip3{
      background-color: #1B1A38;
      height: 20%;
      margin-top: -3%;
      margin-bottom: 0%;
    }
    .strip3 p{
      font-size: 20px;
      font-family: 'Exo', sans-serif;
      width: 30%;
      padding: 10%;
      padding-top: 0%;
      
    }
    .strip3 img{
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  
  



