body {background-color: rgb(4, 1, 39);}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
  }
  .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

ul {
    border-radius: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    

  }
  
  li {
    float: left;
  }
  
  li a {
    border-radius: 25px;
    display: block;
    color: rgb(4, 1, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a:hover {
    border-radius: 25px;
    opacity: 0.5;
    background-color:#221e53
    
  }
  .body{ margin-top:   -5%;
        
        display: flexbox;
        }

    .grad{
      display: block;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      z-index: 1;
      height: 20%;
      border: 5px solid #ffffff00;
  }
  